In [1]:
!ls

config.yaml		fx_catcher_helper.ipynb  requirements.txt
Decision_trees_and_svm	fx_catcher.py		 Untitled.ipynb
deep_learning_bench	requirements_base.txt	 untitled.txt

In [17]:
import yaml

CONFIG_FILE = "./config.yaml"

with open(CONFIG_FILE,"r") as configfile:
    cfg=yaml.safe_load(configfile)

In [18]:
cfg.keys()

dict_keys(['fx', 'eq'])

In [19]:
country_codes = [codes for codes in cfg["fx"]]

In [20]:
country_codes

['AUD',
 'CAD',
 'CHF',
 'GBP',
 'JPY',
 'NOK',
 'NZD',
 'SEK',
 'USD',
 'CNY',
 'KRW',
 'SGD',
 'TWD']

In [ ]:
CONFIG_FILE = "./config.yaml"

def config():
        with open(CONFIG_FILE,"r") as configfile:
            cfg=yaml.safe_load(configfile) 
                
        # parsing of yaml configuration file
        country_list = [cfg["currencies"][block] for block in cfg["currencies"]]
        # flattening list of lists
        country_list = [land for blocklist in country_list for land in blocklist]
        
        return {
            "codes": country_list,                                  # country code ISO4217
            "ticker": ["EUR"+code+"=X" for code in country_list]    # Y! Finance API ticker
        }

In [4]:
from datetime import date

In [5]:
type(date.today())

datetime.date

In [ ]:
import yfinance as yf
quote = yf.download("EURUSD=X", period="1d")

In [8]:
quote

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-06 00:00:00+00:00,1.079797,1.08038,1.076079,1.0784,1.0784,0

In [9]:
quote.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1 entries, 2023-02-06 00:00:00+00:00 to 2023-02-06 00:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1 non-null      float64
 1   High       1 non-null      float64
 2   Low        1 non-null      float64
 3   Close      1 non-null      float64
 4   Adj Close  1 non-null      float64
 5   Volume     1 non-null      int64
dtypes: float64(5), int64(1)
memory usage: 56.0 bytes

In [10]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='hcf',  
                        password='Whtr23F')
    if conn.is_connected():
        print("MariaDB is successful connected")
except Error as e:
    print("Error while connecting to MySQL", e)

MariaDB is successful connected

In [11]:
quote.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-06 00:00:00+00:00,1.079797,1.08038,1.076079,1.0784,1.0784,0

In [12]:
quote.index = quote.index.strftime("%Y-%m-%d")

In [16]:
quote = quote[["Adj Close"]]

In [19]:
quoteloc["code"] = "USD"
quote.reset_index()

/tmp/ipykernel_7673/4269832862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quote["code"] = "USD"

            Adj Close code
Date
2023-02-06     1.0784  USD

In [21]:
quote.reset_index(inplace=True)

In [22]:
quote

         Date  Adj Close code
0  2023-02-06     1.0784  USD

In [25]:
quote.rename(
    columns={
        "Adj Close": "price",
        "Date": "date"
    },
    inplace=True
)

/tmp/ipykernel_7673/927912386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quote.rename(

In [27]:
quote = quote[["date","code","price"]]

In [29]:
try:
    conn = msql.connect(host='localhost', database='finance_market_data_db', user='hcf', password='Whtr23F')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)        
        #loop through the data frame
        for i,row in quote.iterrows():
            #here %S means string values 
            sql = "INSERT INTO fx_prices(date, code, price) VALUES (%s,%s,%s);"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('finance_market_data_db',)
Record inserted

In [30]:
import yaml

In [36]:
!pwd

/home/hcf/notebooks/Decision_trees_and_svm/notebooks

In [32]:
CONFIG_FILE = "./config.yaml"

In [33]:
def config():
        with open(CONFIG_FILE,"r") as configfile:
            cfg=yaml.safe_load(configfile) 
                
        # parsing of yaml configuration file
        country_list = [cfg["currencies"][block] for block in cfg["currencies"]]
        # flattening list of lists
        country_list = [land for blocklist in country_list for land in blocklist]
        
        return {
            "codes": country_list,                                  # country code ISO4217
            "ticker": ["EUR"+code+"=X" for code in country_list]    # Y! Finance API ticker
        }

In [ ]:
config()["codes"]